tmp/
examples/*/Release/
tools/*/Release/
debugging/
bin/
ipch/
*.pdf
*.obj
*.lib
*.dll
*.bak
*.ilk
*.orig
*.hex
*.allow
*.pdb
*.manifest
*.zip*
*.pnps
*.pnproj
*~
*.db
*.opendb
*.s19
examples/*/*.exe
examples/*.exe

Win7*/
Win8*/
Win10*/
*.*sdf
*.filters
*.user
*.suo