tmp/
examples/*/Release/
tools/*/Release/
tools/*/Win10*/
debugging/
bin/
driver/*.*
!driver/*.c
!driver/*.h
!driver/*.inx
!driver/*.inc
!driver/*.rc
!driver/*.vcxproj

driver/classinstaller/*.*
!driver/classinstaller/*.c
!driver/classinstaller/*.h
!driver/classinstaller/*.inx
!driver/classinstaller/*.vcxproj
!driver/classinstaller/*.def
!driver/classinstaller/*.ico
!driver/classinstaller/*.rc
*.pdf
*.obj
*.lib
*.dll
*.bak
*.ilk
*.orig
*.hex
*.allow
*.pdb
*.manifest
*.zip*
*.pnps
*.pnproj
*~
*.db
*.opendb
*.s19
examples/*/*.exe
examples/*.exe

Win7*/
Win8*/
*.*sdf
*.filters
*.user
*.suo